.contact {
  .wrapper {
    width: 100%;
    @media screen and (min-width: 994px) {
      display: flex;
      justify-content: center;
    }
    .map_wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      @media screen and (min-width: 994px) {
        width: 50%;
        height: auto;
      }
      .social_media_links {
        display: flex;
        position: absolute;
        bottom: 2rem;

        div {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: rgb(32, 32, 32);
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 0.3rem;

          img {
            width: 35%;
          }
        }
      }
    }
    .contact_form {
      width: 100%;
      background-color: #030303de;
      font-family: $blinker;
      text-align: center;
      padding: 1rem 2rem;

      @media screen and (min-width: 994px) {
        width: 50%;
        padding: 2rem 4rem;
      }
      h1 {
        color: white;
        padding: 1rem 0;
        font-weight: 600;
        font-size: 0.9rem;
        letter-spacing: 2px;
      }
      input,
      textarea {
        padding: 1rem;
        background-color: hsla(0, 0%, 100%, 0.1);
        border: none;
        margin: 0.3rem 0;
        width: 100%;
        border-radius: 25px;
        outline: none;
        color: white;
      }
      input::placeholder,
      textarea::placeholder {
        color: rgb(172, 172, 172);
        font-family: $blinker;
        font-size: 0.95 rem;
      }
      textarea {
        resize: none;
      }
      button {
        width: 100%;
        padding: 1rem 0;
        cursor: pointer;
        background-color: $yellow;
        color: white;
        font-weight: 600;
        border-radius: 25px;
        margin: 1rem 0;
      }
    }
  }
}

footer {
  background-color: #131313;
  font-family: $blinker;
  .wrapper {
    padding: 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: 994px) {
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      padding: 0rem;
    }
    img {
      width: 20px;
      margin: 1rem;
    }
    .wrp {
      display: flex;
      align-items: center;
      justify-content: center;
      color: gray;
      margin: 0.5rem 0;
      .footer_icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .rights {
    color: gray;
    text-align: center;
    border-top: 0.5px solid #f2a50c5e;
    padding: 1rem 0;
    font-size: 0.9rem;
  }
}
