@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.wrapper {
  width: 95%;
  margin: auto;
}

button {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
  outline: none;
}

//main colors variables
$black: #131313;
$yellow: #f2a60c;

//font family variables
$teko: "Teko", sans-serif;
$blinker: "Blinker", sans-serif;
