.hero {
  padding: 5rem 0 0;
  background-image: url("https://assets.website-files.com/5d5ffc98b6d68de20504403c/5d6b9bcc068031b0bd901c96_chalkboard-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 900px) {
    height: 650px;
  }
  .wrapper {
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.103),
        rgba(0, 0, 0, 0.096)
      ),
      url("../../images/hero.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0rem;
    width: 100%;
    .wrapper_wrapper {
      width: 95%;
      height: 100%;
      margin: auto;
      padding: 3rem 0rem 2.5rem;
      @media screen and (min-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .opening_hours_wrapper {
        font-family: $blinker;
        @media screen and (min-width: 900px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2rem;
        }
        .hours {
          color: hsla(0, 0%, 96.9%, 0.5);
          text-align: center;
          letter-spacing: 4px;
          font-size: 0.65rem;
          font-weight: 600;
          span {
            color: $yellow;
          }
        }
        .social_media_links {
          @media screen and (max-width: 900px) {
            display: none;
          }
          display: flex;
          div {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.3rem;
            &:hover {
              background-color: rgb(243, 189, 12);
            }
            img {
              width: 35%;
            }
          }
        }
      }
      .hero_main_images {
        font-family: $teko;
        font-size: 3.8rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width: 900px) {
          flex-direction: row;
          font-size: 4.5rem;
        }
        h1 {
          z-index: 2;
          font-weight: 700;
          position: relative;
        }
        .hero_img_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (min-width: 900px) {
          }
          .bg-1 {
            border-radius: 100%;
            width: 220px;
            margin: auto;
            position: relative;
            z-index: 3;
            box-shadow: 0px 2px 30px rgba(5, 5, 5, 0.466);
            animation: rotateZbg-1 20s ease infinite;
            transition: 3s ease-in-out;
            @media screen and (min-width: 900px) {
              width: 290px;
            }
          }
          .bg-2 {
            width: 350px;
            position: absolute;
            z-index: 1;

            transition: 3s ease-in-out;
            @media screen and (min-width: 900px) {
              animation: rotateZbg-2 20s ease infinite;
              width: 430px;
            }
          }
        }
        .yummy {
          top: 4rem;
          @media screen and (min-width: 900px) {
            top: 0rem;
            left: 1rem;
          }
        }
        .tummy {
          color: $yellow;
          bottom: 3rem;
          @media screen and (min-width: 900px) {
            top: 0rem;
            right: 1rem;
          }
        }
      }
      .reservation {
        font-family: $blinker;
        @media screen and (min-width: 900px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2rem;
        }
        .reservation_phone {
          color: hsla(0, 0%, 96.9%, 0.5);
          text-align: center;
          letter-spacing: 4px;
          font-size: 0.65rem;
          font-weight: 600;
          order: 2;
          span {
            color: $yellow;
          }
        }
        .contact_links {
          order: 1;
          @media screen and (max-width: 900px) {
            display: none;
          }
          display: flex;
          div {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.3rem;

            &:hover {
              background-color: rgb(243, 189, 12);
            }
            img {
              width: 35%;
            }
          }
        }
      }
    }
  }
}

@keyframes rotateZbg-1 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotateZbg-2 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
