.hero {
  padding: 5rem 0 0;
  background-image: url("https://assets.website-files.com/5d5ffc98b6d68de20504403c/5d6b9bcc068031b0bd901c96_chalkboard-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 900px) {
    height: 570px;
  }
  .wrapper {
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.103),
        rgba(0, 0, 0, 0.096)
      ),
      url("../../images/hero.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0rem;
    width: 100%;
    .wrapper_wrapper {
      width: 95%;
      height: 100%;
      margin: auto;
      padding: 2rem 0rem 2rem;
      overflow: hidden;
      @media screen and (min-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .opening_hours_wrapper {
        font-family: $blinker;
        @media screen and (min-width: 900px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2rem;
        }
        .hours {
          color: hsla(0, 0%, 96.9%, 0.5);
          text-align: center;
          letter-spacing: 4px;
          font-size: 0.65rem;
          font-weight: 600;
          span {
            color: $yellow;
          }
        }
        .social_media_links {
          @media screen and (max-width: 900px) {
            display: none;
          }
          display: flex;
          div {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.3rem;
            &:hover {
              background-color: rgb(243, 189, 12);
            }
            img {
              width: 35%;
            }
          }
        }
      }
      .hero_main_images {
        font-family: $teko;
        font-size: 3.8rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width: 900px) {
          flex-direction: row;
          font-size: 4.5rem;
        }
        h1 {
          z-index: 2;
          font-size: 7rem;
          font-weight: 700;
          position: relative;
          @media screen and (min-width: 900px) {
            font-size: 8rem;
          }
        }
        .hero_img_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          .bg-1 {
            border-radius: 100%;
            width: 220px;
            margin: auto;
            position: relative;
            z-index: 3;
            box-shadow: 10px 10px 50px rgba(5, 5, 5, 0.61);
            animation: rotateZbg-1 50s ease infinite;
            transition: 3s ease-in-out;
            @media screen and (min-width: 900px) {
              width: 220px;
            }
          }
          .bg-2 {
            width: 350px;
            position: absolute;
            z-index: 1;
            transition: 3s ease-in-out;
            box-shadow: 10px 10px 50px rgba(5, 5, 5, 0.842);
            background-image: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.75),
                rgba(0, 0, 0, 0.75)
              ),
              url("https://assets.website-files.com/5d5ffc98b6d68de20504403c/5d80c9f02580d2ff0b07a83b_servint-tray.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 100%;
            @media screen and (min-width: 900px) {
              animation: rotateZbg-2 50s ease infinite;
              width: 340px;
            }
          }
        }
        .yummy {
          top: 4rem;
          animation: yummyMobile 1s ease-in forwards;
          @media screen and (min-width: 900px) {
            top: 0rem;
            left: 1rem;
            animation: yummy 1s ease-in forwards;
          }
        }
        .tummy {
          color: $yellow;
          bottom: 3rem;
           animation: tummyMobile 1s ease-in forwards;
          @media screen and (min-width: 900px) {
            top: 0rem;
            right: 1rem;
            animation: tummy 1s ease-in forwards;
          }
        }
      }
      .reservation {
        font-family: $blinker;
        @media screen and (min-width: 900px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2rem;
        }
        .reservation_phone {
          color: hsla(0, 0%, 96.9%, 0.5);
          text-align: center;
          letter-spacing: 4px;
          font-size: 0.65rem;
          font-weight: 600;
          order: 2;
          span {
            color: $yellow;
          }
        }
        .contact_links {
          order: 1;
          @media screen and (max-width: 900px) {
            display: none;
          }
          display: flex;
          div {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.3rem;
            &:hover {
              background-color: rgb(243, 189, 12);
            }
            img {
              width: 35%;
            }
          }
        }
      }
    }
  }
}

@keyframes rotateZbg-1 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotateZbg-2 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes yummyMobile {
  0% {
    top: 0rem;
    opacity: 0;
  }
  100% {
    top: 4rem;
    opacity: 1;
  }
}

@keyframes yummy {
  0% {
    left: -10rem;
    opacity: 0;
  }
  100% {
    left: 1rem;
    opacity: 1;
  }
}
@keyframes tummyMobile {
  0% {
    bottom: 0rem;
    opacity: 0;
  }
  100% {
    bottom: 3rem;
    opacity: 1;
  }
}


@keyframes tummy {
  0% {
    right: -10rem;
    opacity: 0;
  }
  100% {
    right: 1rem;
    opacity: 1;
  }
}
