@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 95%;
  margin: auto;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

li {
  list-style: none;
  outline: none;
}

input {
  outline: none;
}

.navigation {
  background-color: #131313;
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../images/navigation_background.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../images/navigation_background.jpg");
  background-position: bottom bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.288);
          box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.288);
}

.navigation .wrapper {
  padding: 1rem 0rem;
}

@media screen and (min-width: 980px) {
  .navigation .wrapper {
    padding: 1rem 1rem;
  }
}

.navigation .wrapper .main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navigation .wrapper .main_nav .nav_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .wrapper .main_nav .nav_logo .logo_img_wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edb408;
}

.navigation .wrapper .main_nav .nav_logo .logo_img_wrapper img {
  width: 20px;
}

.navigation .wrapper .main_nav .nav_logo div {
  font-family: "Teko", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

.navigation .wrapper .main_nav .main_nav_links {
  text-align: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.navigation .wrapper .main_nav .main_nav_links a {
  color: white;
  font-size: 0.8rem;
  font-family: "Blinker", sans-serif;
  margin: 0 1.2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 550;
  letter-spacing: 1px;
}

@media screen and (max-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_links a {
    display: inline-block;
    margin: 0.7rem 0;
    padding: 0 0.6rem;
  }
}

.navigation .wrapper .main_nav .main_nav_links a:hover {
  color: rgba(255, 255, 255, 0.445);
}

@media screen and (max-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_links {
    padding: 1.2rem 3rem;
    -webkit-box-shadow: 0px 0px 1px white;
            box-shadow: 0px 0px 1px white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../images/navigation_background.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../images/navigation_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: fixed;
    opacity: 0;
    z-index: -20;
    top: -10rem;
    left: 0;
    right: 0;
  }
}

.navigation .wrapper .main_nav .main_nav_links.active {
  top: 5rem;
  opacity: 1;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper img {
  width: 20px;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon,
.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon {
  position: relative;
  background-color: #f2a60c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0 0.3rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon,
  .navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon {
    height: 45px;
  }
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon:hover,
.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon:hover {
  background-color: #edb408;
}

@media screen and (min-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon {
    display: none;
  }
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon .left_close_img {
  position: absolute;
  opacity: 0;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon .left_close_img.active {
  opacity: 1;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon .bars_img.disactive {
  opacity: 0;
}

@media screen and (min-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon {
    width: 160px;
    border-radius: 30px;
  }
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_wrapper .right_close_img {
  position: absolute;
  opacity: 0;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_wrapper .right_close_img.active {
  opacity: 1;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_wrapper .dots_img.disactive {
  opacity: 0;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_yummy {
  color: white;
  font-family: "Blinker", sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
  margin-left: 0.5rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_yummy {
    display: none;
  }
}

.yummy_wrapper {
  padding: 1rem 0;
  -webkit-box-shadow: 0px 0px 1px white;
          box-shadow: 0px 0px 1px white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../images/navigation_background.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../images/navigation_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: fixed;
  z-index: 99;
  top: -5rem;
  left: 0;
  right: 0;
}

@media screen and (max-width: 980px) {
  .yummy_wrapper {
    padding: 1.2rem 3rem;
  }
}

.yummy_wrapper .yummy_menu {
  text-align: center;
}

.yummy_wrapper .yummy_menu a {
  margin: 0 1.6rem;
  font-family: "Blinker", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  font-size: 0.75rem;
}

@media screen and (max-width: 980px) {
  .yummy_wrapper .yummy_menu a {
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    display: inline-block;
  }
}

.yummy_wrapper .yummy_menu a:hover {
  color: rgba(255, 255, 255, 0.445);
}

.yummy_wrapper.active {
  top: 5rem;
}

@media screen and (max-width: 980px) {
  .yummy_wrapper.active {
    top: 5rem;
  }
}

.hero {
  padding: 5rem 0 0;
  background-image: url("https://assets.website-files.com/5d5ffc98b6d68de20504403c/5d6b9bcc068031b0bd901c96_chalkboard-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 900px) {
  .hero {
    height: 570px;
  }
}

.hero .wrapper {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.103)), to(rgba(0, 0, 0, 0.096))), url("../../images/hero.PNG");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.096)), url("../../images/hero.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0rem;
  width: 100%;
}

.hero .wrapper .wrapper_wrapper {
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 2rem 0rem 2rem;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper {
  font-family: "Blinker", sans-serif;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .opening_hours_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
  }
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .hours {
  color: rgba(247, 247, 247, 0.5);
  text-align: center;
  letter-spacing: 4px;
  font-size: 0.65rem;
  font-weight: 600;
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .hours span {
  color: #f2a60c;
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .social_media_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .hero .wrapper .wrapper_wrapper .opening_hours_wrapper .social_media_links {
    display: none;
  }
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .social_media_links div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f2a60c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.3rem;
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .social_media_links div:hover {
  background-color: #f3bd0c;
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .social_media_links div img {
  width: 35%;
}

.hero .wrapper .wrapper_wrapper .hero_main_images {
  font-family: "Teko", sans-serif;
  font-size: 3.8rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 4.5rem;
  }
}

.hero .wrapper .wrapper_wrapper .hero_main_images h1 {
  z-index: 2;
  font-size: 7rem;
  font-weight: 700;
  position: relative;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images h1 {
    font-size: 8rem;
  }
}

.hero .wrapper .wrapper_wrapper .hero_main_images .hero_img_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .wrapper .wrapper_wrapper .hero_main_images .hero_img_wrapper .bg-1 {
  border-radius: 100%;
  width: 220px;
  margin: auto;
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 10px 10px 50px rgba(5, 5, 5, 0.61);
          box-shadow: 10px 10px 50px rgba(5, 5, 5, 0.61);
  -webkit-animation: rotateZbg-1 50s ease infinite;
          animation: rotateZbg-1 50s ease infinite;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images .hero_img_wrapper .bg-1 {
    width: 220px;
  }
}

.hero .wrapper .wrapper_wrapper .hero_main_images .hero_img_wrapper .bg-2 {
  width: 350px;
  position: absolute;
  z-index: 1;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
  -webkit-box-shadow: 10px 10px 50px rgba(5, 5, 5, 0.842);
          box-shadow: 10px 10px 50px rgba(5, 5, 5, 0.842);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("https://assets.website-files.com/5d5ffc98b6d68de20504403c/5d80c9f02580d2ff0b07a83b_servint-tray.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://assets.website-files.com/5d5ffc98b6d68de20504403c/5d80c9f02580d2ff0b07a83b_servint-tray.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images .hero_img_wrapper .bg-2 {
    -webkit-animation: rotateZbg-2 50s ease infinite;
            animation: rotateZbg-2 50s ease infinite;
    width: 340px;
  }
}

.hero .wrapper .wrapper_wrapper .hero_main_images .yummy {
  top: 4rem;
  -webkit-animation: yummyMobile 1s ease-in forwards;
          animation: yummyMobile 1s ease-in forwards;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images .yummy {
    top: 0rem;
    left: 1rem;
    -webkit-animation: yummy 1s ease-in forwards;
            animation: yummy 1s ease-in forwards;
  }
}

.hero .wrapper .wrapper_wrapper .hero_main_images .tummy {
  color: #f2a60c;
  bottom: 3rem;
  -webkit-animation: tummyMobile 1s ease-in forwards;
          animation: tummyMobile 1s ease-in forwards;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images .tummy {
    top: 0rem;
    right: 1rem;
    -webkit-animation: tummy 1s ease-in forwards;
            animation: tummy 1s ease-in forwards;
  }
}

.hero .wrapper .wrapper_wrapper .reservation {
  font-family: "Blinker", sans-serif;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .reservation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
  }
}

.hero .wrapper .wrapper_wrapper .reservation .reservation_phone {
  color: rgba(247, 247, 247, 0.5);
  text-align: center;
  letter-spacing: 4px;
  font-size: 0.65rem;
  font-weight: 600;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hero .wrapper .wrapper_wrapper .reservation .reservation_phone span {
  color: #f2a60c;
}

.hero .wrapper .wrapper_wrapper .reservation .contact_links {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .hero .wrapper .wrapper_wrapper .reservation .contact_links {
    display: none;
  }
}

.hero .wrapper .wrapper_wrapper .reservation .contact_links div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f2a60c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.3rem;
}

.hero .wrapper .wrapper_wrapper .reservation .contact_links div:hover {
  background-color: #f3bd0c;
}

.hero .wrapper .wrapper_wrapper .reservation .contact_links div img {
  width: 35%;
}

@-webkit-keyframes rotateZbg-1 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateZbg-1 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rotateZbg-2 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes rotateZbg-2 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@-webkit-keyframes yummyMobile {
  0% {
    top: 0rem;
    opacity: 0;
  }
  100% {
    top: 4rem;
    opacity: 1;
  }
}

@keyframes yummyMobile {
  0% {
    top: 0rem;
    opacity: 0;
  }
  100% {
    top: 4rem;
    opacity: 1;
  }
}

@-webkit-keyframes yummy {
  0% {
    left: -10rem;
    opacity: 0;
  }
  100% {
    left: 1rem;
    opacity: 1;
  }
}

@keyframes yummy {
  0% {
    left: -10rem;
    opacity: 0;
  }
  100% {
    left: 1rem;
    opacity: 1;
  }
}

@-webkit-keyframes tummyMobile {
  0% {
    bottom: 0rem;
    opacity: 0;
  }
  100% {
    bottom: 3rem;
    opacity: 1;
  }
}

@keyframes tummyMobile {
  0% {
    bottom: 0rem;
    opacity: 0;
  }
  100% {
    bottom: 3rem;
    opacity: 1;
  }
}

@-webkit-keyframes tummy {
  0% {
    right: -10rem;
    opacity: 0;
  }
  100% {
    right: 1rem;
    opacity: 1;
  }
}

@keyframes tummy {
  0% {
    right: -10rem;
    opacity: 0;
  }
  100% {
    right: 1rem;
    opacity: 1;
  }
}

.categories_links {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../images/navigation_background.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../images/navigation_background.jpg");
  background-position: bottom bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.288);
          box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.288);
}

@media screen and (max-width: 980px) {
  .categories_links {
    display: none;
  }
}

.categories_links .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.categories_links .wrapper .dots {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #f2a60c;
}

.categories_links .wrapper a {
  width: 16.66%;
  color: gray;
  font-family: "Blinker", sans-serif;
  font-weight: 600;
  font-size: .85rem;
  letter-spacing: 2px;
  padding: 1.5rem 0;
  text-align: center;
  border-top: 1px solid transparent;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.categories_links .wrapper a:hover {
  border-color: #f2a60c;
  color: white;
}

.about_us {
  position: relative;
}

.about_us img {
  width: 57%;
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 900px) {
  .about_us img {
    width: 25%;
  }
}

.about_us .top-corner {
  top: 0;
  right: 0;
  z-index: 2;
}

.about_us .top-corner-red {
  top: 0;
  right: 0;
  z-index: 1;
}

.about_us .bottom-corner {
  bottom: 0;
  left: 0;
  z-index: 2;
}

.about_us .bottom-corner-red {
  bottom: 0;
  left: 0;
  z-index: 1;
}

.about_us .wrapper {
  padding: 6rem 0;
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .about_us .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about_us .wrapper .form_wrapper {
  background-color: #f2a60c;
  padding: 1rem 1rem 2rem;
  font-family: "Blinker", sans-serif;
  color: white;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0 2px 10px rgba(128, 128, 128, 0.295);
          box-shadow: 0 2px 10px rgba(128, 128, 128, 0.295);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  opacity: 0;
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .form_wrapper {
    width: 53%;
    padding: 1.6rem 2rem;
    margin: 1rem;
  }
}

.about_us .wrapper .form_wrapper h3 {
  margin: 1rem 0;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Blinker", sans-serif;
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .form_wrapper .about_form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (0.5fr)[5];
        grid-template-rows: repeat(5, 0.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .form_wrapper .about_form .date {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .form_wrapper .about_form .time {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .form_wrapper .about_form .guest {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 2 / 4;
  }
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .form_wrapper .about_form .name {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2 / 1 / 3 / 4;
  }
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .form_wrapper .about_form .email {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3 / 1 / 4 / 4;
  }
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .form_wrapper .about_form .phone {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 4 / 1 / 5 / 4;
  }
}

.about_us .wrapper .form_wrapper .about_form input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.about_us .wrapper .form_wrapper .about_form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.about_us .wrapper .form_wrapper .about_form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.about_us .wrapper .form_wrapper .about_form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.about_us .wrapper .form_wrapper .about_form input::placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.about_us .wrapper .form_wrapper .about_form button {
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
  background-color: #131313;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 25px;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .form_wrapper .about_form button {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 5 / 1 / 6 / 4;
  }
}

.about_us .wrapper .about_us_content {
  background-color: white;
  padding: 3rem 1rem;
  text-align: center;
  margin-top: 2rem;
  -webkit-box-shadow: 0 2px 10px rgba(128, 128, 128, 0.295);
          box-shadow: 0 2px 10px rgba(128, 128, 128, 0.295);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  border-radius: 10px;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  opacity: 0;
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .about_us_content {
    width: 53%;
    padding: 2.7rem 3rem;
    margin: 0;
    margin-left: 2rem;
  }
}

.about_us .wrapper .about_us_content h1 {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.about_us .wrapper .about_us_content h1 span {
  color: #f2a60c;
}

.about_us .wrapper .about_us_content .title_devider {
  width: 100px;
  height: 4px;
  margin: 1rem auto;
  background-color: #f2a60c;
  border-radius: 25px;
}

.about_us .wrapper .about_us_content strong {
  font-family: "Blinker", sans-serif;
  font-size: 0.9rem;
}

.about_us .wrapper .about_us_content p {
  margin: 2rem 0;
  font-family: "Blinker", sans-serif;
  font-size: 0.9rem;
}

.about_us .wrapper .about_us_content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.about_us .wrapper .about_us_content form .newsletter {
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: .9rem 0 .9rem 2rem;
  background-color: rgba(150, 149, 149, 0.267);
  position: relative;
}

.about_us .wrapper .about_us_content form input::-webkit-input-placeholder {
  font-family: "Blinker", sans-serif;
}

.about_us .wrapper .about_us_content form input:-ms-input-placeholder {
  font-family: "Blinker", sans-serif;
}

.about_us .wrapper .about_us_content form input::-ms-input-placeholder {
  font-family: "Blinker", sans-serif;
}

.about_us .wrapper .about_us_content form input::placeholder {
  font-family: "Blinker", sans-serif;
}

.about_us .wrapper .about_us_content form .sendIcon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #f2a60c;
  background-image: url("../../images/about_us_send.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  cursor: pointer;
  position: absolute;
  right: 1.1rem;
}

@media screen and (min-width: 900px) {
  .about_us .wrapper .about_us_content form .sendIcon {
    right: 3.1rem;
  }
}

.about_us .wrapper .about_us_content form .sendIcon:hover {
  background-color: #f2bc0c;
}

.show .wrapper {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .show .wrapper .show_plats {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 990px) {
  .show .wrapper .show_plats {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.show .wrapper .show_plats .plats {
  width: 100%;
  height: 450px;
  background-image: url("../../images/show_1_pizza-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 990px) {
  .show .wrapper .show_plats .plats {
    height: 350px;
  }
}

.show .wrapper .show_plats .plats .img_wrapper {
  width: 300px;
  height: 300px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}

@media screen and (min-width: 990px) {
  .show .wrapper .show_plats .plats .img_wrapper {
    width: 250px;
    height: 250px;
  }
}

.show .wrapper .show_plats .plats .img_wrapper img {
  width: 100%;
}

.show .wrapper .show_plats .plats .facts_numbers {
  position: absolute;
  background-color: #f2a60c;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Blinker", sans-serif;
  color: white;
  -webkit-box-shadow: 0 2px 20px rgba(66, 66, 66, 0.384);
          box-shadow: 0 2px 20px rgba(66, 66, 66, 0.384);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media screen and (min-width: 990px) {
  .show .wrapper .show_plats .plats .facts_numbers {
    width: 150px;
    height: 150px;
  }
}

.show .wrapper .show_plats .plats .facts_numbers .num {
  font-weight: 800;
  font-size: 2.5rem;
}

.show .wrapper .show_plats .plats .facts_numbers p {
  font-weight: 600;
}

.show .wrapper .show_plats .deserts {
  background-image: url("../../images/show_2_dessert-texture.jpg");
}

.show .wrapper .show_plats .salads {
  background-image: url("../../images/show_3_salad-texture.jpg");
}

.show .wrapper .show_plats .pastas {
  background-image: url("../../images/show_4_pasta-texture.jpg");
}

@media screen and (min-width: 700px) {
  .show .wrapper .show_inside_resto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 990px) {
  .show .wrapper .show_inside_resto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.show .wrapper .show_inside_resto .resto_images {
  width: 100%;
  height: 450px;
  background-image: url("../../images/show_1_pizza-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (min-width: 990px) {
  .show .wrapper .show_inside_resto .resto_images {
    height: 330px;
  }
}

.show .wrapper .show_inside_resto .resto_images:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.show .wrapper .show_inside_resto .resto_images .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.459);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.show .wrapper .show_inside_resto .first {
  background-image: url("../../images/resto_img_1_gallery-3.jpg");
}

.show .wrapper .show_inside_resto .second {
  background-image: url("../../images/resto_img_2_gallery-1.jpg");
}

.show .wrapper .show_inside_resto .third {
  background-image: url("../../images/resto_img_4_gallery-2.jpg");
}

.show .wrapper .show_inside_resto .forth {
  background-image: url("../../images/resto_img_4_gallery-4.jpg");
}

.house_dishes {
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  opacity: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.house_dishes .wrapper {
  margin-bottom: 4rem;
}

.house_dishes .wrapper .header {
  font-family: "Teko", sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 4rem 0 0.5rem;
}

.house_dishes .wrapper .header h1 {
  font-size: 3rem;
}

.house_dishes .wrapper .header span {
  color: #f2a60c;
}

.house_dishes .wrapper .line {
  width: 100px;
  height: 3px;
  margin: auto;
  background-color: #f2a60c;
  border-radius: 25px;
}

.house_dishes .wrapper .menu_wrapper {
  padding: 4rem 0 2rem;
}

@media screen and (min-width: 700px) {
  .house_dishes .wrapper .menu_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 990px) {
  .house_dishes .wrapper .menu_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.house_dishes .wrapper .menu_wrapper .menu {
  width: 95%;
  margin: auto;
  height: 350px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 20px rgba(128, 128, 128, 0.295);
          box-shadow: 0 2px 20px rgba(128, 128, 128, 0.295);
  font-family: "Teko", sans-serif;
  position: relative;
  margin-bottom: 3rem;
  overflow: hidden;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #131313;
  font-family: "Blinker", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 2rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay h2 {
  color: white;
  font-weight: 800;
  word-spacing: 3px;
  font-size: 1.7rem;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay .overlay_line {
  width: 100px;
  height: 2px;
  background-color: #f2a60c;
  margin: 1rem auto;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay p {
  color: gray;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay .vegan,
.house_dishes .wrapper .menu_wrapper .menu .overlay .vegetarian,
.house_dishes .wrapper .menu_wrapper .menu .overlay .spicy {
  color: white;
  border-radius: 25px;
  margin: 2rem 0.5rem 0;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  padding: 0.5rem 1rem;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay .vegan:hover,
.house_dishes .wrapper .menu_wrapper .menu .overlay .vegetarian:hover,
.house_dishes .wrapper .menu_wrapper .menu .overlay .spicy:hover {
  width: 80px;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay .vegan:hover P,
.house_dishes .wrapper .menu_wrapper .menu .overlay .vegetarian:hover P,
.house_dishes .wrapper .menu_wrapper .menu .overlay .spicy:hover P {
  font-size: 0.8rem;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay .vegan P,
.house_dishes .wrapper .menu_wrapper .menu .overlay .vegetarian P,
.house_dishes .wrapper .menu_wrapper .menu .overlay .spicy P {
  font-size: 0;
  font-weight: bold;
  text-align: center;
  color: white;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay .vegan {
  background-color: #10d809;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay .spicy {
  background-color: #d81709;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay .vegetarian {
  background-color: #f2a60c;
}

.house_dishes .wrapper .menu_wrapper .menu .overlay .vegetarian:hover {
  width: 120px;
}

.house_dishes .wrapper .menu_wrapper .menu:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.house_dishes .wrapper .menu_wrapper .menu:hover .menu_img {
  height: 100%;
}

.house_dishes .wrapper .menu_wrapper .menu:hover .menu_img .price {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.house_dishes .wrapper .menu_wrapper .menu:hover .menu_name {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.house_dishes .wrapper .menu_wrapper .menu .menu_img {
  height: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 10px rgba(128, 128, 128, 0.295);
          box-shadow: 0 2px 10px rgba(128, 128, 128, 0.295);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.house_dishes .wrapper .menu_wrapper .menu .menu_img .price {
  font-weight: 800;
  background-color: #f2a60c;
  float: right;
  padding: 0.4rem 1.2rem 0.3rem;
  margin: 2rem;
  font-size: 1.3rem;
  color: white;
  border-radius: 25px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.house_dishes .wrapper .menu_wrapper .menu .menu_name {
  height: 20%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1.5rem 0;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.house_dishes .wrapper .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.house_dishes .wrapper .cta button {
  padding: 0.8rem 7rem;
  background-color: #f2a60c;
  color: white;
  font-family: "Blinker", sans-serif;
  font-weight: 600;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 25px;
  cursor: pointer;
}

.house_dishes .wrapper .cta button:hover {
  background-color: #f2bc0c;
}

.partners .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 4rem 0;
  gap: 15px;
}

@media screen and (min-width: 500px) {
  .partners .wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .partners .wrapper {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.partners .wrapper div {
  padding: 1.5rem;
  border: 1px solid #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  cursor: pointer;
  opacity: 0.5;
}

.partners .wrapper div:hover {
  border-color: rgba(172, 172, 172, 0.555);
  opacity: 0.8;
}

.partners .wrapper div img {
  width: 90px;
}

.testemonials {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../../images/concrete_seamless.png");
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../images/concrete_seamless.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.testemonials .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 4rem 0;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 15px;
}

@media screen and (min-width: 500px) {
  .testemonials .wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .testemonials .wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.testemonials .wrapper .testemonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-shadow: 0 5px 30px #e2e2e2;
          box-shadow: 0 5px 30px #e2e2e2;
  padding: 4rem 0rem;
  border-radius: 15px;
  background-image: url("../../images/smile..svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: white;
  position: relative;
  margin-bottom: 3rem;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
  opacity: 0;
}

.testemonials .wrapper .testemonial:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

@media screen and (min-width: 500px) {
  .testemonials .wrapper .testemonial {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 900px) {
  .testemonials .wrapper .testemonial {
    padding: 2rem 0;
  }
}

.testemonials .wrapper .testemonial .quote {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 50px;
}

.testemonials .wrapper .testemonial .profil_img {
  width: 100px;
  border-radius: 100%;
  -webkit-box-shadow: 0 5px 10px #b6b5b5;
          box-shadow: 0 5px 10px #b6b5b5;
}

.testemonials .wrapper .testemonial p {
  font-family: "Blinker", sans-serif;
  padding: 1rem 2rem;
  border-left: 3px solid #f2a60c;
  border-right: 3px solid #f2a60c;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.testemonials .wrapper .testemonial .job {
  font-family: "Blinker", sans-serif;
  color: #f2a60c;
  font-weight: 600;
}

.testemonials .wrapper .testemonial .name {
  font-family: "Teko", sans-serif;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 1;
  padding-top: 0.5rem;
}

.testemonials .wrapper .testemonial .name span {
  color: #f2a60c;
}

.events {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../../images/concrete_seamless.png");
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../images/concrete_seamless.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.events .wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 500px) {
  .events .wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .events .wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.events .wrapper .card_wrapper {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .events .wrapper .card_wrapper {
    height: 300px;
  }
}

.events .wrapper .card_wrapper:hover .front_face {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  z-index: 1;
}

.events .wrapper .card_wrapper:hover .card_details {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 2;
}

.events .wrapper .card_wrapper .front_face {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.events .wrapper .card_wrapper .front_face .event_name {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #f2a60c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Blinker", sans-serif;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  opacity: 0;
  -webkit-box-shadow: 2px 2px 20px #4b4b4b;
          box-shadow: 2px 2px 20px #4b4b4b;
}

.events .wrapper .card_wrapper .card_details {
  background-color: #131313;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  font-family: "Blinker", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.events .wrapper .card_wrapper .card_details h1 {
  color: white;
}

.events .wrapper .card_wrapper .card_details h1 span {
  color: #f2a60c;
}

.events .wrapper .card_wrapper .card_details .card_line {
  width: 100px;
  height: 2px;
  background-color: #f2a60c;
  margin: 2rem auto;
}

.events .wrapper .card_wrapper .card_details p {
  color: gray;
  font-weight: 600;
  line-height: 1.5;
  padding: 0 2rem;
}

.contact .wrapper {
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 994px) {
  .contact .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact .wrapper .map_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
  opacity: 0;
}

@media screen and (min-width: 994px) {
  .contact .wrapper .map_wrapper {
    width: 50%;
    height: auto;
  }
}

.contact .wrapper .map_wrapper .social_media_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 2rem;
}

.contact .wrapper .map_wrapper .social_media_links div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.3rem;
}

.contact .wrapper .map_wrapper .social_media_links div img {
  width: 35%;
}

.contact .wrapper .contact_form {
  width: 100%;
  background-color: #030303de;
  font-family: "Blinker", sans-serif;
  text-align: center;
  padding: 1rem 2rem;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  opacity: 0;
}

@media screen and (min-width: 994px) {
  .contact .wrapper .contact_form {
    width: 50%;
    padding: 2rem 4rem;
  }
}

.contact .wrapper .contact_form h1 {
  color: white;
  padding: 1rem 0;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.contact .wrapper .contact_form input,
.contact .wrapper .contact_form textarea {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  margin: 0.3rem 0;
  width: 100%;
  border-radius: 25px;
  outline: none;
  color: white;
}

.contact .wrapper .contact_form input::-webkit-input-placeholder,
.contact .wrapper .contact_form textarea::-webkit-input-placeholder {
  color: #acacac;
  font-family: "Blinker", sans-serif;
  font-size: 0.95 rem;
}

.contact .wrapper .contact_form input:-ms-input-placeholder,
.contact .wrapper .contact_form textarea:-ms-input-placeholder {
  color: #acacac;
  font-family: "Blinker", sans-serif;
  font-size: 0.95 rem;
}

.contact .wrapper .contact_form input::-ms-input-placeholder,
.contact .wrapper .contact_form textarea::-ms-input-placeholder {
  color: #acacac;
  font-family: "Blinker", sans-serif;
  font-size: 0.95 rem;
}

.contact .wrapper .contact_form input::placeholder,
.contact .wrapper .contact_form textarea::placeholder {
  color: #acacac;
  font-family: "Blinker", sans-serif;
  font-size: 0.95 rem;
}

.contact .wrapper .contact_form textarea {
  resize: none;
}

.contact .wrapper .contact_form button {
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
  background-color: #f2a60c;
  color: white;
  font-weight: 600;
  border-radius: 25px;
  margin: 1rem 0;
}

footer {
  background-color: #131313;
  font-family: "Blinker", sans-serif;
}

footer .wrapper {
  padding: 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 994px) {
  footer .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0rem;
  }
}

footer .wrapper img {
  width: 20px;
  margin: 1rem;
}

footer .wrapper .wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: gray;
  margin: 0.5rem 0;
}

footer .wrapper .wrp .footer_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .rights {
  color: gray;
  text-align: center;
  border-top: 0.5px solid #f2a50c5e;
  padding: 1rem 0;
  font-size: 0.9rem;
}
/*# sourceMappingURL=home.css.map */