@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  width: 95%;
  margin: auto;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

li {
  list-style: none;
  outline: none;
}

.navigation {
  background-color: #131313;
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../images/navigation_background.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../images/navigation_background.jpg");
  background-position: bottom bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.288);
          box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.288);
}

.navigation .wrapper {
  padding: 1rem 0rem;
}

@media screen and (min-width: 980px) {
  .navigation .wrapper {
    padding: 1.5rem 1rem;
  }
}

.navigation .wrapper .main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navigation .wrapper .main_nav .nav_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .wrapper .main_nav .nav_logo .logo_img_wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edb408;
}

.navigation .wrapper .main_nav .nav_logo .logo_img_wrapper img {
  width: 20px;
}

.navigation .wrapper .main_nav .nav_logo div {
  font-family: "Teko", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

.navigation .wrapper .main_nav .main_nav_links {
  text-align: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.navigation .wrapper .main_nav .main_nav_links a {
  color: white;
  font-size: 0.8rem;
  font-family: "Blinker", sans-serif;
  margin: 0 1.2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 550;
  letter-spacing: 2px;
}

@media screen and (max-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_links a {
    display: inline-block;
    margin: 0.7rem 0;
    padding: 0 0.6rem;
  }
}

.navigation .wrapper .main_nav .main_nav_links a:hover {
  color: rgba(255, 255, 255, 0.445);
}

@media screen and (max-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_links {
    padding: 1.2rem 3rem;
    -webkit-box-shadow: 0px 0px 1px white;
            box-shadow: 0px 0px 1px white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../images/navigation_background.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../images/navigation_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: fixed;
    opacity: 0;
    z-index: -20;
    top: -10rem;
    left: 0;
    right: 0;
  }
}

.navigation .wrapper .main_nav .main_nav_links.active {
  top: 5.2rem;
  opacity: 1;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper img {
  width: 20px;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon,
.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon {
  position: relative;
  background-color: #f2a60c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0 0.3rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon:hover,
.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon:hover {
  background-color: #edb408;
}

@media screen and (min-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon {
    display: none;
  }
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon .left_close_img {
  position: absolute;
  opacity: 0;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon .left_close_img.active {
  opacity: 1;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .burger_menu_icon .bars_img.disactive {
  opacity: 0;
}

@media screen and (min-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon {
    width: 170px;
    border-radius: 30px;
  }
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_wrapper .right_close_img {
  position: absolute;
  opacity: 0;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_wrapper .right_close_img.active {
  opacity: 1;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_wrapper .dots_img.disactive {
  opacity: 0;
}

.navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_yummy {
  color: white;
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 980px) {
  .navigation .wrapper .main_nav .main_nav_btns_wrapper .dots_menu_icon .dots_yummy {
    display: none;
  }
}

.yummy_wrapper {
  padding: 1rem 0;
  -webkit-box-shadow: 0px 0px 1px white;
          box-shadow: 0px 0px 1px white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../images/navigation_background.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../images/navigation_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: fixed;
  z-index: 99;
  top: -5rem;
  left: 0;
  right: 0;
}

@media screen and (max-width: 980px) {
  .yummy_wrapper {
    padding: 1.2rem 3rem;
  }
}

.yummy_wrapper .yummy_menu {
  text-align: center;
}

.yummy_wrapper .yummy_menu a {
  margin: 0 1.6rem;
  font-family: "Blinker", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  font-size: 0.8rem;
}

@media screen and (max-width: 980px) {
  .yummy_wrapper .yummy_menu a {
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    display: inline-block;
  }
}

.yummy_wrapper .yummy_menu a:hover {
  color: rgba(255, 255, 255, 0.445);
}

.yummy_wrapper.active {
  top: 6.2rem;
}

@media screen and (max-width: 980px) {
  .yummy_wrapper.active {
    top: 5.2rem;
  }
}

.hero {
  padding: 5rem 0 0;
  background-image: url("https://assets.website-files.com/5d5ffc98b6d68de20504403c/5d6b9bcc068031b0bd901c96_chalkboard-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 900px) {
  .hero {
    height: 650px;
  }
}

.hero .wrapper {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.103)), to(rgba(0, 0, 0, 0.096))), url("../../images/hero.PNG");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.096)), url("../../images/hero.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0rem;
  width: 100%;
}

.hero .wrapper .wrapper_wrapper {
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 3rem 0rem 2.5rem;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper {
  font-family: "Blinker", sans-serif;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .opening_hours_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
  }
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .hours {
  color: rgba(247, 247, 247, 0.5);
  text-align: center;
  letter-spacing: 4px;
  font-size: 0.65rem;
  font-weight: 600;
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .hours span {
  color: #f2a60c;
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .social_media_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .hero .wrapper .wrapper_wrapper .opening_hours_wrapper .social_media_links {
    display: none;
  }
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .social_media_links div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2a60c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.3rem;
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .social_media_links div:hover {
  background-color: #f3bd0c;
}

.hero .wrapper .wrapper_wrapper .opening_hours_wrapper .social_media_links div img {
  width: 35%;
}

.hero .wrapper .wrapper_wrapper .hero_main_images {
  font-family: "Teko", sans-serif;
  font-size: 3.8rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 4.5rem;
  }
}

.hero .wrapper .wrapper_wrapper .hero_main_images h1 {
  z-index: 2;
  font-weight: 700;
  position: relative;
}

.hero .wrapper .wrapper_wrapper .hero_main_images .hero_img_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .wrapper .wrapper_wrapper .hero_main_images .hero_img_wrapper .bg-1 {
  border-radius: 100%;
  width: 220px;
  margin: auto;
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0px 2px 30px rgba(5, 5, 5, 0.466);
          box-shadow: 0px 2px 30px rgba(5, 5, 5, 0.466);
  -webkit-animation: rotateZbg-1 20s ease infinite;
          animation: rotateZbg-1 20s ease infinite;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images .hero_img_wrapper .bg-1 {
    width: 290px;
  }
}

.hero .wrapper .wrapper_wrapper .hero_main_images .hero_img_wrapper .bg-2 {
  width: 350px;
  position: absolute;
  z-index: 1;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images .hero_img_wrapper .bg-2 {
    -webkit-animation: rotateZbg-2 20s ease infinite;
            animation: rotateZbg-2 20s ease infinite;
    width: 400px;
  }
}

.hero .wrapper .wrapper_wrapper .hero_main_images .yummy {
  top: 4rem;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images .yummy {
    top: 0rem;
    left: 1rem;
  }
}

.hero .wrapper .wrapper_wrapper .hero_main_images .tummy {
  color: #f2a60c;
  bottom: 3rem;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .hero_main_images .tummy {
    top: 0rem;
    right: 1rem;
  }
}

.hero .wrapper .wrapper_wrapper .reservation {
  font-family: "Blinker", sans-serif;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .wrapper_wrapper .reservation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
  }
}

.hero .wrapper .wrapper_wrapper .reservation .reservation_phone {
  color: rgba(247, 247, 247, 0.5);
  text-align: center;
  letter-spacing: 4px;
  font-size: 0.65rem;
  font-weight: 600;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hero .wrapper .wrapper_wrapper .reservation .reservation_phone span {
  color: #f2a60c;
}

.hero .wrapper .wrapper_wrapper .reservation .contact_links {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .hero .wrapper .wrapper_wrapper .reservation .contact_links {
    display: none;
  }
}

.hero .wrapper .wrapper_wrapper .reservation .contact_links div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2a60c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.3rem;
}

.hero .wrapper .wrapper_wrapper .reservation .contact_links div:hover {
  background-color: #f3bd0c;
}

.hero .wrapper .wrapper_wrapper .reservation .contact_links div img {
  width: 35%;
}

@-webkit-keyframes rotateZbg-1 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateZbg-1 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rotateZbg-2 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes rotateZbg-2 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

.categories_links {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../images/navigation_background.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../images/navigation_background.jpg");
  background-position: bottom bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.288);
          box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.288);
}

@media screen and (max-width: 980px) {
  .categories_links {
    display: none;
  }
}

.categories_links .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.categories_links .wrapper .dots {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #f2a60c;
}

.categories_links .wrapper a {
  width: 16.66%;
  color: gray;
  font-family: "Blinker", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 1.5rem 0;
  text-align: center;
  border-top: 1px solid transparent;
}

.categories_links .wrapper a:hover {
  border-color: #f2a60c;
}
/*# sourceMappingURL=home.css.map */